$grey: #eff0f2;
$dark_grey: #606061;
$text_grey: #505050;
$green-blue: #b2f2ee;
$shadow: #cbccce70;
$black: #3c3c3d;
$btnborder_grey: #777879;
$blue: #F8FAFA;
$h3:#181919;
$p:#5e5f5f;
$span: #3e3f3f;
$p1: #9d9e9e;
$white: #ffffff;
$anover_span: #757776;
$footer: #262b2e;
$footer_h6:#a6a8a9;
$footer_icons:#bbb8b9;
$footer_p:#7d8082;
$our_s:#f7f7f7;
$our_p:#f0f0f0;
$our_a: #d6d8d7;
$name_back: rgba(74, 89, 98, 0.92);
$name_blue: #6eeee4;
$name_btn: #214744;
$name_t:#94a0a6;
