@media (max-width: 700px){
    .about_us{
        height: 1100px;
        .center{
            // display: flex;
            // justify-content: center;
            .about_us-box{
                // margin-left: 10%;
                margin-top: 40px;
                grid-template-columns: 1fr;
                grid-template-rows: 30px 40px 1fr 300px;
                &-h3{
                    grid-column: 1/2;
                    grid-row: 1/2;
                }
                &-p{
                    grid-column: 1/2;
                    grid-row: 2/3;
                }
                &-img{
                    display: flex;
                    justify-content: center;
                    // padding-left: 11%;
                    grid-column: 1/2;
                    grid-row: 3/4;
                    img{
                        width: 85%;
                    }
                }
                &-text{
                    text-align: center;
                    width: 96%;
                    grid-column: 1/2;
                    grid-row: 4/5;

                    &-span1{
                        font-size: 13px;
                    }
                    &-p1_1{
                        font-size: 11px;
                    
                    }
                    &-p1_2{
                        font-size: 11px;
                        
                    }
                    &-span2{
                        font-size: 13px;
                    }
                    &-p2{
                        font-size: 11px;
                        
                    }

                }
            }
        }
    }
    .our_services{
        height: 2350px;
        .center{
           .our_services-grid{
            grid-template-columns: 430px;
            grid-template-rows:  35px 50px repeat(6, 300px);
            padding-top: 120px;
            grid-gap: 1em;
                &-h3{
                    grid-column: 1/2;
                    grid-row: 1/2;
                }
                &-p{
                    font-size: 13px;
                    grid-column: 1/2;
                    grid-row: 2/3;
                }
                &-item1{
                    grid-column: 1/2;
                    grid-row: 3/4;
                    &-text{
                        margin-top: -63%;
                        margin-left: 39px;
                        width: 84%;
                        &-span{
                            font-size: 16px;
                        }
                        &-p{
                            padding-bottom: 11px;
                            font-size: 15px;
                            }
                        }

                    
                }
                &-item2{
                    grid-column: 1/2;
                    grid-row: 4/5;
                    }
                &-item3{
                    grid-column: 1/2;
                    grid-row: 5/6;
                    }
                &-item4{
                    grid-column: 1/2;
                    grid-row: 6/7;
                    }
                &-item5{
                    grid-column: 1/2;
                    grid-row: 7/8;
                    }
                &-item6{
                    grid-column: 1/2;
                    grid-row: 8/9;
                    }

                    &-item2, &-item3, &-item4, &-item5, &-item6{
                        &-text{
                            margin-top: -210px;
                            margin-left: 41px;
                        }
                    }
           }   
        }      
    }
    .name{
        height: 1100px;
        .center{
            display: flex;
            justify-content: center;
             padding: 3%;
             .name-grid{
                padding-top: 70px;
                 grid-template-columns: 400px;
                 grid-template-rows:  450px 450px;
                 grid-gap: 1em;
                
                
                
                
             }
         }
     }
}